/* CONTACT image */

/* Container holding the image and the text */
.container1 {
	margin-top: 100px;
	margin-right:3%;
	margin-left: 3%;
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Gang of Three', sans-serif;                                             
  font-size: 6.25em;
  font-weight: 400;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* H1 */

h1 {
  font-family: 'Gang of Three', sans-serif;                                             
  font-size: 5em;
  font-weight: 400;
  text-align: center;">
}


/* P */
p { 
  font-family: Calibri;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  color: #747474;
}

/* Chef */

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container2 {
  position: relative;
  width: 100%;
  max-width: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 200px;

}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: Calibri;
}

/* When you mouse over the container, fade in the overlay title */
.container2:hover .overlay {
  opacity: 1;
}